# Dependencies
node_modules/

# Env files
.env*.local
.env

# Vercel
.vercel/

# Misc
.cursor/
.DS_Store

# Outputs
.next/

# Content Collections
.content-collections

# Testing
playwright-report/
test-results/
coverage/
src/tests/e2e/.auth/

# TypeScript
*.tsbuildinfo
next-env.d.ts
